
/* type selectors */

html {
	background:linear-gradient(0.25turn,#DBE7B6,#ffffff,#f2d2df);
    color: #82204b; }

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	/*width:96%;                        changed from 990 pixels */
	/*height:96%;                      */
  /*max-width: 96%;                  */
	/*max-height:96%;                  */
	/*margin:12px auto;                */
	/*padding: 12px 0;                 */
	
	
	  
	
}

p {
	font-size: .875em;
	padding-bottom: .5em;
	line-height: 130%;
}
em {
	font-weight: bold;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link, a:visited {
/*	color: #3F2860; */
        color: #a22358;
}
a:hover, a:focus {
	color: #b32267;
}

/* the styles for the header */
header {
	width: 100%;                         /* full width of body */
	padding-bottom: 2em;
	background-repeat: no-repeat;
	max-width: 1502px; 
	
}
header h2 {
	font-size: 2.25em;
	color: #f2972e;
	text-shadow: 2px 3px 0 black;
	margin-left: 12.12121%;              /* 120 / 990 */
	margin-bottom: .25em;
}
header h3 {
	font-size: 1.25em;
	font-style: italic;
	margin-left: 12.12121%;              /* 120 / 990 */
	margin-bottom: .25em;
}
header img {
	width: 88%;                      /* 80 / 990 normally, but using 100% in this case */
	max-width: 1502px;                     /* native size */
	/*min-width: 40px;*/
/*	float: left;
/*	margin-left: 2.0202%;                /* 20 / 990 */
        margin-left: 1.067%;                /* 20 / 990 */
        padding-bottom: 2em;
}
/* the styles for the navigation  */
nav    {  text-align: right;
/*          background-color:#FFFFFF; */
		margin:0;
		padding-top:0.5em;
		padding-bottom:.5em;
		padding-right:0;
		position: fixed; top: 0; left: 0; 
		z-index: 9999;
		width: 100%;
		height:auto;
		 }		
nav ul { list-style-type: none;
         margin: 0;
		 padding-right: 2em;	
         font-size: 1.2em;		 
}
nav li { display: inline; 
         padding-left:2em;
		 width:30%;}
	 
nav a {text-decoration: none;}
nav a:link {color: #3F2860;}	
nav a:visited {color: #93ac1a;}
nav a:hover {color: #b32267;}
li,dd {font-size: 90%;}

/* the styles for the section */
section {
	width: 100%;                            /* 535 / 990 */
/*	float: left;   /*
    margin: 0 auto;
	margin-left: 2.0202%;             /* 20 / 990 */
	margin-right: 2.0202%; 
	padding: 1.5em 2.52525% 0 0;      /* 25 / 990 */
}
section img{width: 100%;
            max-width: 200px;
            max-height: 200px;
            padding: 2em}
			
section ul {
	margin-top: 0;
	margin-bottom: 1.5em;
}
section li {
	font-size: .875em;                /* 14 / 16 */
	padding-bottom: .35em;
}
iframe { border:none;overflow:hidden;}
section h1 {
	font-size: 1.75em;
	margin-bottom: .35em;
}
section h2 {
	font-size: 1.25em;
	margin-bottom: .35em;
}
/*a.date_passed {
	color: gray;
} */

/*audio goes here*/
	

/* the styles for the footer */
.footercl {text-align: center;
		font-style: italic;
		font-size: small;
		color:#a22358;
		
		}
.black     {color:#000000;font-size: 130%;
            display: block;
           margin-left: auto;
           margin-right: auto;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}	  
.centerTitle {
  text-align:center;
  font-size:122%;
  font-weight:bold;
  color:#000000;
}	  
.podcast-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
	color:#a22358;
    overflow: hidden;
}

.podcast-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#flow {display:block;}  	
#container{width: 100%; height: 100%; overflow: hidden;}	
/*table*/
table { border: 1px solid silver;
        color:#000000; 
        margin-bottom:1em;
        margin-left:auto;margin-right:auto;
/*		min-width:100px; */
		border-collapse: collapse;
        text-align:center;
		
		
		}
caption {caption-side: top;
         text-align:center;
         margin: 1em;
		 font-weight: bold;
		 font-size:120%;
		 }
/*td,th { border: 1px solid silver; padding: 0.5em;}*/
td,th { border: 1px solid silver; padding: 0.5em;}
tbody td{text-align: center; }
tr:nth-of-type(even) { background-color:#caeaf6; } 
form { display: flex;
       flex-flow: column nowrap;}
input, datalist textarea { margin-bottom: .5em;}



audio::-internal-media-controls-download-button {
	-webkit-appearance: none;
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
	-webkit-appearance: none;
}
audio::-webkit-media-controls-panel {
 /*   width: calc(100% + 33px);*/
    /*background-color: #94bddc;*/
	background-color:#f6d6cb; 
	 
	/*opacity:.81; */
    -webkit-appearance: none;
	overflow-y: hidden;
	padding: 1px;
}  
audio::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 0;
    /*background-color: initial; */
	background-color: #fcf2ef;
    border-radius: 50%;
	color:white;
	/*opacity:.43; */
    /*color: inherit;*/
}
audio::-webkit-media-controls-volume-slider {
  background-color: white;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}


audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-wireless-playback-status.picture-in-picture
{
    -webkit-appearance: none;
}


audio::-webkit-media-controls-wireless-playback-status.small {
-webkit-appearance: none;
}
audio::-webkit-media-controls-wireless-playback-status {
	-webkit-appearance: none;
}
audio::-webkit-media-controls-wireless-playback-text-bottom.picture-in-picture {
	-webkit-appearance: none;
}
audio::-webkit-media-controls-wireless-playback-text-top {
	-webkit-appearance: none;
}

/*audio {margin-bottom:.25em; }
    /*    max-height: 92%;
    /*    max-width: 92%;}
		
/*		margin:auto;

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
footer{
    
    
    text-align:center;
    font-size:small;
    
   /* padding-top: 40px; */
    color: #fff;
}

footer p {
	font-size: .6875em;
	text-align: center;
        color:#a22358;
		
}

/* media queries */




@media only screen and (max-width: 375px),
(min-width: 268px) and (max-width: 1502px)  {
     header{overflow-y: hidden;}
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; border:none; 
	}
	th{display:none;}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: none;text-align:center; }
	tr td:first-child {
		font-weight: bold;
		font-size:101%;
	}
	td { 
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 5%; 
		text-align:center;
		font:120%;
		
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		
		/*padding-right: 10px; */
		white-space: nowrap;
		
}

}
	